<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github2136.base">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.github2136.basemvvm.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.list.ListActivity"/>
        <activity android:name=".view.activity.loadmore.LoadMoreActivity" />
        <activity android:name=".view.activity.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.main.MainActivity" />
        <activity android:name=".view.activity.nodelist.NodeListActivity" />

        <meta-data
            android:name="util_sp_name"
            android:value="sp" />
        <meta-data
            android:name="util_project_path"
            android:value="base" />
    </application>

</manifest>